{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row mb-4">
        <div class="col-md-6 offset-md-3">
            <div class="input-group">
                <input type="text" id="stockSearch" class="form-control" placeholder="Search for a stock (e.g., AAPL, GOOGL)">
                <button class="btn btn-primary" type="button" id="searchButton">Search</button>
            </div>
            <div id="searchResults" class="list-group mt-2"></div>
        </div>
    </div>

    <div id="stockData" class="d-none">
        <div class="row">
            <div class="col-md-12">
                <div class="card mb-4">
                    <div class="card-body">
                        <h2 id="stockSymbol" class="card-title"></h2>
                        <div class="row">
                            <div class="col">
                                <h3 id="currentPrice"></h3>
                                <span id="priceChange"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="card mb-4">
                    <div class="card-body">
                        <div id="stockChart"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Technical Indicators</h5>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">RSI: <span id="rsiValue"></span></li>
                            <li class="list-group-item">MACD: <span id="macdValue"></span></li>
                            <li class="list-group-item">Signal: <span id="signalValue"></span></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Price Prediction</h5>
                        <div id="predictionChart"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
